<!-- <router-outlet>
 <div class="column">
    
    <div class="center"><h1>Table</h1></div>
    <div class="center">
      <app-table></app-table>
    </div>
   <div class="center"><h1>Forms</h1></div>
    <div class="center">  <app-forms></app-forms></div> 
    <div class="center"><h1>Tree Basic</h1></div>
    <div class="center"><app-tree></app-tree></div>
    <div class="center"><h1>Bottom Sheet UI Component </h1></div>
  <div class="center"> <app-bottom-sheet></app-bottom-sheet></div>
  <div class="center"><h1>Check box</h1></div>
  <div class="center"> <app-checkbox></app-checkbox></div>
  <div class="center"><h1>Select  Component</h1></div>
  <div class="center"> <app-radio-button></app-radio-button></div>
  <div class="center"><h1>Stepper Form Component</h1></div>
  <div class="center"><app-stepper></app-stepper></div>

 
  
  </div>  
  
 

</router-outlet> -->

<ul>
   <li> 
    <a routerLink="/table">Table</a>
 </li>
<li> 
  <a routerLink="/tree">Tree</a>
</li>

<li><a routerLink="/stepper">Stepper</a></li>
<li><a routerLink="/forms">Forms</a></li>
<li><a routerLink="/select">Select</a></li>
<li><a routerLink="/bottom_sheet">Bottom-Sheet</a></li>
<li><a routerLink="/Check_Box">Check Box</a></li>


</ul>
 
<router-outlet></router-outlet>